- var revealLocation = 'bower_components/reveal.js/'
doctype html
html(lang="en")

  include bower_components/RevealJade/shared/slide_mixins

  include bower_components/RevealJade/shared/head

  link(rel='external' type='text/html' src="bower_components/RevealJade/shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "Jade",subtitle: "Templating With Logic"})
        +ulSlide("So what happened", [
          "Ideology",
          "Ignorance",
          "Pedagogy"
          ])
        +bigTitleSlide("The defense against Ignorance")
          p Why do we go to school?

          +speakerNotes
            :markdown
              We should have enough rope to hang ourselves

        +slideGroup
          +slide
            :markdown
              # What does logic in the view look like?

          +slide
            h2 Examples
            a(href='https://github.com/ninjapanzer/templating_with_logic/blob/master/slim_too_much_nesting.slim') Slim

        +slideGroup

          +slide
            :markdown
              # I can prove it is a good idea in one word

          +slide
            :markdown
              #SASS

        +slide
          :markdown
            ## The Benefits
            - Can hang yourself
            - Speed (3.5x faster than ejs)
            - Block and Mixins
            - Markdown

        +slide
          h2 Anatomy of a Mixin
          +codeBlock({})
            |mixin ulFragmentSlide(title,list,attrs)
            |+slide(attrs)
            |     h3= title
            |     +ulFragment(list)
            |       block

        +slide
          :markdown
            ## Samples
            - https://github.com/ninjapanzer/RevealJade/blob/master/shared/slide_mixins.jade
            - https://github.com/ninjapanzer/RevealJade/blob/master/shared/fragment_mixins.jade
            - https://github.com/ninjapanzer/templating_with_logic/blob/master/index.jade

        +bigTitleSlide("Finally")
          p Try Jade in your node project

        +slide
          :markdown
            ## References
            - http://www.ebaytechblog.com/2012/10/01/the-case-against-logic-less-templates/
            - http://paularmstrong.github.io/node-templates/benchmarks.html
            - https://github.com/ninjapanzer/RevealJade

    include bower_components/RevealJade/shared/footer